# folders to gitignore
.quarto/

_extensions/
*_files/
_freeze/
_output/
_report/
_webpage/
data/tc_data/

# filetypes to gitignore
~*
*.html
*.rmarkdown

# specific files to gitignore
prepare/.gitignore
report/.gitignore
report/report.pdf
report/report.typ
